html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}


md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}

/* Sidenav area */

md-list-item > button {
  width:100%;
  text-align:left !important;
}

  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }


/* Primary content area */

#content {
  overflow: hidden;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  background: #E5EBF2;
}

#content .md-button.share {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 25px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.share > md-icon {
  fill:black;
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.share:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
  padding-left: 30px;
  color: #fff;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}


md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

md-menu-item.active {
    background-color: #F1F1F1;
}

.inner-page{
  margin-top: 25px;
}
.orders-table{
  width: 100%;
  padding: 0;
  background-color: #fff;
}
.orders-table th {
    text-align: left;
    color: gray;
    font-weight: normal;
    font-size: 15px;
    padding: 13px 10px;
    border-bottom: 1px solid #D2D2D2;
}
.orders-table td {
    font-size: 15px;
    padding: 10px 10px;
}
.orders-table tr.hovered-line{
    transition: all .3s ease;
}
.orders-table tr.hovered-line:hover {
    background-color: #e1f5fe;
}
.fz-26{
  font-size: 26px;
}
.pillows-lines{
  width: 100%;
}

.pillows-lines th {
    text-align: left;
    font-size: 15px;
}

.pillows-lines td {
    font-size: 15px;
}

td.p-cost {
    text-align: center;
}
.add-line{
  text-align: center;
}

#dialogContent_2 {
    overflow-x: hidden;
}
.hovered-line .md-button{
  margin: 0;
}
.md-dialog-content{
  font-size: 15px;
}
.status-selector{
  float: right;
  width: 250px;
  overflow: hidden;
  margin-top: -64px;
  height: 60px;
}
.status-selector-label{
  float: right;
  width: 147px;
  text-align: right;
  font-size: 15px;
  margin-top: -36px;
  margin-right: 265px;
}
.panel{
    text-align: center;
    margin: 15px;
    border-radius: 3px;
}
.panel .panel-body{
  padding: 25px 0 20px 0;
}
.panel .panel-body h3{
  margin: 20px 0 0 0;
  font-size: 25px;
  font-weight: normal;
}
.panel .panel-footer{
  padding: 10px;
  font-size: 16px;
  border-radius: 0 0 3px 3px;
}
.bg-color-green {
  background-color: #fff;
  color: #5cb85c;
}
.bg-color-blue {
  background-color: #fff;
  color: #4CB1CF
}
.bg-color-red {
  background-color: #fff;
  color:#F0433D;
}
.bg-color-brown {
  background-color: #fff;
  color:#f0ad4e;
}
.back-footer-green {
  background-color: #5cb85c;
  color:#fff;
  border-top: 0px solid #fff;
}
.back-footer-red {
  background-color: #F0433D;
  color:#fff;
  border-top: 0px solid #fff;
}
.back-footer-blue {
  background-color: #4CB1CF;
  color:#fff;
  border-top: 0px solid #fff;
}
.back-footer-brown {
  background-color: #f0ad4e;
  color:#fff;
  border-top: 0px solid #fff;
}
.total-cost{
  text-align: right;
}