@import "grid.css";
@import "reset.css";
@import "font-awesome.min.css";
@import "superfish.css";

/* PT Serif */
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700&subset=latin,cyrillic);

@font-face{
    font-family:'HelveticaNeue';
    src:url('../fonts/HelveticaNeueCyr-Light.otf') format('opentype');
}

html {
    width: 100%;

}
a[href^="tel:"] {
     color: inherit;
     text-decoration: none;
}

* {
    -webkit-text-size-adjust: none;
}

body {
    position: relative;
    background-color: #fff;
    color: #404040;
    font: 14px/20px 'HelveticaNeue', sans-serif;
}

.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}

strong {
    font-weight: 700;
}

address {
    font-style: normal;
}

p {
    margin-bottom: 20px;
}

.p1 {
    margin-bottom: 24px;
}

input {
    border-radius: 0 !important;
    outline: none !important;
}


img {
    max-width: 100%;
}



/****Heads****/


h1, h2, h3, h4, h5, h6 {
    color: #474343;
    font-weight: normal;
    font-family: 'HelveticaNeue', sans-serif;
}

h2 {
    font-size: 60px;
    line-height: 60px;
    padding-top: 83px;
    margin-bottom: 40px;
    text-align: center;
}

h2.head1 {
    font-size: 48px;
    padding-top: 99px;
}

h3  {
    padding-top: 69px;
    margin-bottom: 30px;
    font: 25px/43px 'HelveticaNeue', sans-serif;
}

.page1 h3 {
    padding-top: 98px;
    margin-bottom: 15px;
    font-weight: bold;
}

h4 {
    font-size: 24px;
    line-height: 40px;
    padding-top: 70px;
    margin-bottom: 34px;
}

h4.head1 {
    padding-bottom: 0px;
    margin-bottom: 30px;
}

h4.head2 {
    padding-bottom: 0px;
    margin-bottom: 14px;
}

/****Lists****/


ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list {
}

.list .count {
    margin-top: 4px;
    color: #fff;
    font: 30px/48px 'HelveticaNeue', sans-serif;
    width: 49px;
    float: left;
    margin-right: 11px;
    text-align: center;
    height: 49px;
    border-radius: 500px;
    background-color: #3da9b6;
}

.list li {
    overflow: hidden;
}

.list li+li {
    margin-top: 35px;
}

.list1 {
    margin-top: -3px;
}

.list1 li {
    position: relative;
}

.list1 li+li {
    margin-top: 10px;
}

.list1 li a:after {
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    background-color: #c7c6c6;
    height: 1px;
}

.list1 li a:hover:after {
    background-color: #3da9b6;
    width: 0;
}

.list2  {
    margin-top: -4px;
}

.list2 li {
    background: url(../images/dots.png) 0 72% repeat-x;
    overflow: hidden;
}

.list2 li+li {
    margin-top: 16px;
}

.list2 .prod {
    float: left;
    padding-right: 3px;
    background-color: #fff;
}

.list2 .price {
    padding-left: 3px;
    float: right;
    background-color: #fff;
}

.list2  {
    overflow: hidden;
}

/****Links****/


a {
    text-decoration: none;
    color: inherit;
    outline: none;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

a:hover {
    color: #3da9b6;
}

.btn  {
    margin-top: 73px;
    color: #fff;
    display: inline-block;
    padding: 22px 62px 24px;
    background-color: #3da9b6;
    font: bold 30px/40px 'HelveticaNeue', sans-serif;
}

.btn:hover {
    background-color: #1d1d1d;
}

.link1 {
    display: inline-block;
    margin-top: 16px;
    font: 24px/26px 'HelveticaNeue', sans-serif;
    color: #3b3a3a;
}

.paeg1 .link1 {
    margin-top: 14px;
}

/****classes****/

.mb__0 {
    margin-bottom: 0px !important;
}
.m0 {
    margin: 0 !important;
}
.pad0 {
    padding: 0 !important;
}

.pad1 {
}


.img_inner {
    max-width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 25px;
}



.fleft {
    float: left;
    width: auto !important;
    margin-right: 30px;
    margin-bottom: 0px;
    margin-top: 4px;
}

.page1 .fleft {
    margin-top: 8px;
}

.rel {
    position: relative;
}


.oh {
    overflow: hidden;
}
.fright {
    float: right !important;
}
.upp {
    text-transform: uppercase;
}

.alright {
    text-align: right;
}
.center {
    text-align: center;
}
.wrapper, .extra_wrapper {
    overflow: hidden;
}
.clear {
    float: none !important;
    clear: both;
}

.oh {
    overflow: hidden;
}

.nowrap {
    white-space: nowrap;
}


/*header*/

header {
    display: block;
    padding-top: 35px;
    position: relative;
    overflow: hidden;
}

.page1 header h1{
    padding-bottom: 30px;
}


header h1 {
    padding-bottom: 66px;
    text-align: center;
    position: relative;
}


header h1 a {
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;    
    text-indent: -999px;
    transition: 0s ease;
    -o-transition: 0s ease;
    -webkit-transition: 0s ease;
}

header h1 a img {
    display: block;
    height: 160px;
}
/**Content**/

.content {
    padding-bottom: 80px;
}

.page1 .content {
    padding-bottom: 36px;
}

.text1 {
    color: #6a6a6a;
    margin-top: -21px;
    font: 24px/22px 'HelveticaNeue', sans-serif;
    margin-bottom: 26px;
}

.ban_img {
    margin-bottom: 39px;
}

.links a {
    text-decoration: underline;
}

.links li+li {
    margin-top: 10px;
}

/*Blocks*/

.box {
    color: #fff;
    text-align: center;
    display: block;
    background-color: #79c4ca;
    font: 36px/43px 'HelveticaNeue', sans-serif;
    margin-bottom: 25px;
}

.box:hover {
    background-color: #1d1d1d;
}

.box_bot  {
    padding-bottom: 69px;
    line-height: 65px;
    padding-top: 35px;
}

.box_bot span {
    margin-top: 3px;
    display: block;
    font-size: 27px;
}

.block1 {
    overflow: hidden;
}

.block1+.block1 {
    padding-top: 40px;
}


/**Icons**/

.icon {
    margin-bottom: 10px;
    margin-top: 3px;
    color: #fff;
    text-align: center;
    font-size: 48px;
    line-height: 123px;
    width: 127px;
    height: 127px;
    float: left;
    background-color: #3da9b6;
    border-radius: 500px;
    margin-right: 25px;
}

.icon1 {
    float: left;
    margin-right: 30px;
    margin-top: 4px;
}

/**Seps**/
.sep__1 {
    border-top: 1px solid #d9d9d9;
}

.sep__2 {
    padding-top: 77px;
    border-bottom: 1px solid #d9d9d9;
}

.sep__3 {
    height: 92px;
}

/**Map**/

.color1 {
    color: #3da9b6;
}

.color1 a:hover, a.color1:hover {
    color: #474343;
}

.color2 {
    color: #474343;
}

.td_und {
    text-decoration: underline;
}

.map {
    overflow: hidden;
    position: relative;
    padding-top: 1px;
}


.map figure {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 28px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.map figure iframe {
    width: 100%;
    height: 327px;
    max-width: 100%;
}
.map address {
    padding-top: 30px;
    display: block;
}

.map address dt {
    color: #3b3a3a;
    font-weight: bold;
    margin-bottom: 20px;
}

.map address+address {
    margin-top: 23px;
}

 address dd span {
    min-width: 84px;
    display: inline-block;
    text-align: left;
}

.map address dd span.col1 {
    min-width: 0;
}
.map p {
    font-size: 20px;
}
.about-text{
    margin-top: 48px;
    margin-bottom: -54px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 22px;
}


/**Footer**/

footer {
    border-top: 1px solid #d9d9d9;
    display: block;
    text-align: center;
    color: #8c8989;
    padding: 62px 0 40px;
}

.top {
    margin-bottom: 61px;
    display: inline-block;
    background: url(../images/totop.png) 0 0 no-repeat;
    width: 82px;
    height: 82px;
    transition: 0s ease;
    -o-transition: 0s ease;
    -webkit-transition: 0s ease;
}

.top:hover {
    background-position: right 0;
}

.f_logo {
    margin-bottom: 40px;
    display: inline-block;
}

.footer_socials {
    margin-bottom: 28px;
    font-size: 0;
    line-height: 0;
    color: #fff;}

.footer_socials .fa {
    display: inline-block;

    font-size: 36px;
    line-height: 62px;
    width: 63px;
    height: 62px;
    text-align: center;
    background-color: #79c4ca;
}

.footer_socials .fa +.fa {
    margin-left: 6px;
}

.footer_socials .fa:hover {
    background-color: #1d1d1d;
}

.copy {
    font-size: 12px;
    line-height: 18px;
}

.sub_copy {
    margin-top: -4px;
}
#form div{

}
#form input{
    padding: 10px;
    margin-bottom: 20px;
    width: 350px;
}
#form textarea{
    width: 352px;
    padding: 10px;
    height: 100px;
}

.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;margin-top: 25px;margin-bottom: 40px;width: 100%;}
.tg td{font-size: 16px;padding: 22px 48px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;border-top-width:1px;border-bottom-width:1px;}
.tg th{font-size: 18px;font-weight:normal;padding: 22px 19px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color: #79C4CA;border-top-width:1px;border-bottom-width:1px;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-9hbo{font-weight:bold;vertical-align:top}
.tg .tg-6k2t{background-color: #F7FDFA;vertical-align:top}
.tg .tg-j0tj{background-color: #F7FDFA;text-align:center;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
.prices{
    margin: -40px auto;
    width: 1000px;
}
.delivery-bl{
    margin-bottom: 100px;
}
.faq h4{
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 50px;
    padding-top: 0;
}
.faq p{
    font-size: 16px;
}
.error-404{
    text-align: center;
    margin: 70px;
    font-size: 45px;
    line-height: 57px;
}
.order-block{
    width: 800px;
    margin: 50px auto;
}

.order-block h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 35px;
}

.info {
    margin-bottom: 30px;
    margin-top: 41px;
    font-size: 18px;
}

.contact {
    margin-bottom: 30px;
}

.contact .row input {
    padding: 5px;
    width: 255px;
    font-size: 15px;
}

.contact .row label {
    width: 110px;
    display: inline-block;
}

.row {
    margin: 12px 0;
}

.pillows{
    font-size: 16px;
}

.pillows table {
    width: 100%;
    box-sizing: border-box;
}

.pillows .head-table td {
    padding: 10px;
    /* text-align: center; */
}

.line-table select {
    font-size: 15px;
    padding: 4px;
}

tr.line-table td {
    padding: 10px;
}

.add-line {
    text-align: center;
    margin-top: 20px;
}

.add-line a {
    font-size: 20px;
    cursor: pointer;
}

.delivery h4 {
    font-weight: bold;
    font-size: 27px;
    padding: 0;
    margin-bottom: 15px;
}

.option {
    margin: 18px 0;
    font-size: 18px;
}

.address {
    font-size: 18px;
    margin-top: 30px;
    display: none;
}

.address input {
    padding: 5px;
    font-size: 15px;
}

input#deliv-street {
    width: 300px;
}

input#deliv-house {
    width: 79px;
}

input#deliv-kv {
    width: 136px;
}

.date-time {
    margin-top: 8px;
}

textarea#delivery-text {
    padding: 10px;
    width: 560px;
    margin-top: 10px;
    height: 50px;
    font-size: 15px;
}

.date-time select {
    padding: 5px;
    font-size: 15px;
}

.summary {
    text-align: right;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #E6E6E6;
    font-size: 26px;
}

span.total-cost {
    font-weight: bold;
}

.ok-button {
    text-align: center;
    margin-top: 20px;
}

.ok-button a {
    font-size: 40px;
    cursor: pointer;
}

.delivery {
    border-top: 1px solid #E6E6E6;
    margin-top: 40px;
    padding-top: 20px;
}
.line-2, .line-3{
    display: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'PT Serif', sans-serif;
}
.discount-line{
    font-size: 18px;
    margin: 8px 0;
}
.line-remove{
    color: #dd4444;
    cursor: pointer;
}
.cleaning-types p{
    font-size: 17px;
    margin-bottom: 10px;
}
.cleaning-types h3{
    margin-top: 0px;
    padding-top: 40px;
}