<h2>Список клиентов</h2>

<div class="md-whiteframe-2dp">

    <table class="orders-table">
        <tr>
            <th>ФИО</th>
            <th>Телефон</th>
            <th>Дата регистрации</th>
            <th>Кол-во заказов</th>
            <th>Заплатил</th>
        </tr>
        <tr class="hovered-line" ng-repeat="client in clients">
            <td><md-button md-no-ink class="md-primary" ng-click="openEdit(client, $event)">[[client.fio]]</md-button></td>
            <td>[[client.phone]]</td>
            <td>[[client.dateStr]]</td>
            <td>[[client.orders_count]] шт.</td>
            <td>[[client.total_cost]] р.</td>
        </tr>

    </table>

</div>