<div layout="row">
    <div flex>
        <div class="panel bg-color-green md-whiteframe-1dp">
            <div class="panel-body">
                <i class="fa fa-check fa-5x"></i>
                <h3>[[stat.orders | number]]</h3>
            </div>
            <div class="panel-footer back-footer-green">
                Всего заказов
            </div>
        </div>
    </div>
    <div flex>
        <div class="panel bg-color-brown md-whiteframe-1dp">
            <div class="panel-body">
                <i class="fa fa-users fa-5x"></i>
                <h3>[[stat.clients | number]]</h3>
            </div>
            <div class="panel-footer back-footer-brown">
                Всего клиентов
            </div>
        </div>
    </div>
    <div flex>
        <div class="panel bg-color-blue md-whiteframe-1dp">
            <div class="panel-body">
                <i class="fa fa-rub fa-5x"></i>
                <h3>[[stat.money | number]] руб.</h3>
            </div>
            <div class="panel-footer back-footer-blue">
                Всего заработано
            </div>
        </div>
    </div>
    <div flex>
        <div class="panel bg-color-red md-whiteframe-1dp">
            <div class="panel-body">
                <i class="fa fa-clock-o fa-5x"></i>
                <h3>[[stat.money_in_day | number]] руб.</h3>
            </div>
            <div class="panel-footer back-footer-red">
                Зарабаток в сутки
            </div>
        </div>
    </div>
</div>