<md-dialog ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Редактирование подушек</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    <md-icon md-font-icon="fa fa-close fz-26" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" style="width: 800px">

                <table class="pillows-lines">
                    <tr>
                        <th>Размер</th>
                        <th>Способ чистки</th>
                        <th>Стоимость</th>
                        <th></th>
                    </tr>
                    <tr class="line-table" ng-repeat="line in lines">
                        <td class="p-size">
                            <md-select aria-label="..." ng-model="line.size">
                                <md-option ng-repeat="s in sizes" ng-value="s.val">
                                    [[ s.title ]]
                                </md-option>
                            </md-select>
                        </td>
                        <td>
                            <md-select aria-label="..." ng-model="line.type">
                                <md-option ng-repeat="s in delivTypes" ng-value="s.val">
                                    [[ s.title ]]
                                </md-option>
                            </md-select>
                        </td>
                        <td class="p-cost">[[ calcLineCost(line) ]] руб</td>
                        <td><i class="fa fa-close line-remove" ng-click="remove($index)"></i></td>
                    </tr>
                </table>

                <div class="total-cost">
                    Стоимость с учетом скидок: [[ calcTotalCost() ]] руб
                </div>

                <div class="add-line" ng-show="lines.length < 3" >
                    <md-button class="md-primary" ng-click="add()"><span class="fa fa-plus"></span> добавить</md-button>
                </div>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="close()">Отмена</md-button>
            <md-button ng-click="save(lines)" style="margin-right:20px;">Сохранить</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>