<md-dialog ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Редактирование клиента</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    <md-icon md-font-icon="fa fa-close fz-26" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" style="width: 500px">

                <div layout-gt-xs="row">

                    <md-input-container>
                        <label>ФИО:</label>
                        <input ng-model="client.fio">
                    </md-input-container>

                    <md-input-container>
                        <label>Телефон:</label>
                        <input ng-model="client.phone">
                    </md-input-container>

                </div>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="close()">Отмена</md-button>
            <md-button ng-click="save(client)" style="margin-right:20px;">Сохранить</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>