<md-dialog ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Редактирование доставки</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    <md-icon md-font-icon="fa fa-close fz-26" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" style="width: 800px">

                <md-switch ng-model="order.delivery" aria-label="Switch delivery">
                    Доставка: [[ order.delivery ? 'Есть' : 'Нет']]
                </md-switch>

                <div ng-show="order.delivery">

                    <div layout-gt-xs="row">

                        <md-input-container flex-gt-sm>
                            <label>Улица</label>
                            <input ng-model="order.street">
                        </md-input-container>

                        <md-input-container flex-gt-sm>
                            <label>Дом</label>
                            <input ng-model="order.house">
                        </md-input-container>

                        <md-input-container flex-gt-sm>
                            <label>Подъезд, квартира</label>
                            <input ng-model="order.kv">
                        </md-input-container>

                    </div>
                    <div layout-gt-xs="row">

                        <md-input-container flex-gt-sm>
                            <label>Выбор даты</label>
                            <md-select aria-label="addr1" ng-model="order.deliv_date">
                                <md-option ng-repeat="s in delivDates" ng-value="s.val">
                                    [[ s.title ]]
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container flex-gt-sm>
                            <label>Выбор времени</label>
                            <md-select aria-label="addr1" ng-model="order.deliv_time">
                                <md-option ng-repeat="s in delivTimes" ng-value="s.val">
                                    [[ s.title ]]
                                </md-option>
                            </md-select>
                        </md-input-container>

                    </div>

                    <md-input-container class="md-block">
                        <label>Комментарии к заказу</label>
                        <textarea ng-model="order.comment" md-maxlength="300" rows="5"></textarea>
                    </md-input-container>

                </div>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="close()">Отмена</md-button>
            <md-button ng-click="save(order)" style="margin-right:20px;">Сохранить</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>