<md-dialog ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Редактирование статуса заказа</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    <md-icon md-font-icon="fa fa-close fz-26" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" style="width: 400px">

                <md-select aria-label="order status" ng-model="status">
                    <md-option ng-repeat="s in statuses" ng-value="s.val">
                        [[ s.title ]]
                    </md-option>
                </md-select>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="close()">Отмена</md-button>
            <md-button ng-click="save(order)" style="margin-right:20px;">Сохранить</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>