<h2>Список заказов</h2>

<div class="status-selector">
    <md-select aria-label="order status selector" ng-model="statusFilter">
        <md-option ng-repeat="s in statuses" ng-value="s.val">
            [[ s.title ]]
        </md-option>
    </md-select>
</div>
<div class="status-selector-label">
    Фильтр по статусу:
</div>

<div class="md-whiteframe-2dp">

    <table class="orders-table">
        <tr>
            <th>Номер</th>
            <th>Клиента</th>
            <th>Дата</th>
            <th>Доставка</th>
            <th>Кол-во подушек</th>
            <th>Статус</th>
        </tr>
        <tr class="hovered-line" ng-repeat="order in orders | filter:{status: statusFilter}">
            <td>[[order.id]]</td>
            <td>[[order.fio]] ([[order.phone]])</td>
            <td>[[order.dateStr]]</td>
            <td><md-button md-no-ink class="md-primary" ng-click="openDelivery(order, $event)">[[ order.delivery ? 'Да' : 'Нет' ]]</md-button></td>
            <td><md-button md-no-ink class="md-primary" ng-click="openPillows(order, $event)">[[order.lines.length]] шт.</md-button></td>
            <td><md-button md-no-ink class="md-primary" ng-click="openStatus(order, $event)">[[statusText(order.status)]]</md-button></td>
        </tr>

    </table>

</div>