<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Панель администратора</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="admin/css/angular-material.min.css"/>
    <link rel="stylesheet" href="admin/css/app.css"/>

</head>

<body ng-app="App" layout="column" ng-controller="AdminController" ng-cloak>

<md-toolbar layout="row">
    <h1>"Белое перо" - управление заказами</h1>
</md-toolbar>

<div flex layout="row">

    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2" >

        <md-menu-content>
            <md-menu-item ng-repeat="it in menuItems" ui-sref-active="active">
                <md-button ng-href="#/[[it.url]]" ui-sref="[[it.url]]">[[it.title]]</md-button>
            </md-menu-item>
        </md-menu-content>

    </md-sidenav>

    <md-content flex id="content" >

        <div ui-view class="inner-page"></div>

        <!--<md-icon md-svg-icon="[[selected.avatar]]" class="avatar"></md-icon>-->
        <!--<h2>[[selected.name]]</h2>-->
        <!--<p>[[selected.content]]</p>-->

        <!--<md-button class="share" md-no-ink ng-click="makeContact(selected)" aria-label="Share with [[ selected.name ]]">-->
            <!--<md-icon md-svg-icon="share"></md-icon>-->
        <!--</md-button>-->
    </md-content>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="admin/js/angular-ui-router.min.js"></script>
<script src="admin/js/angular-animate.min.js"></script>
<script src="admin/js/angular-aria.min.js"></script>
<script src="admin/js/angular-material.js"></script>
<script src="admin/js/moment.min.js"></script>
<script src="admin/js/underscore-min.js"></script>

<script src="admin/app/app.js"></script>
<script src="admin/app/controller.js"></script>
<script src="admin/app/services.js"></script>

</body>
</html>



