<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="images/favicon.ico">
    <link rel="shortcut icon" href="images/favicon.ico"/>

    <link rel="stylesheet" href="css/slippry.css">
    <link rel="stylesheet" href="css/elastislide.css"/>
    <link rel="stylesheet" href="css/style.css">

    <script src="js/jquery.js"></script>
    <script src="js/script.js"></script>
    <script src="js/superfish.js"></script>
    <script src="js/jquery.equalheights.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/slippry.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/order.js"></script>
    <script>
        $(document).ready(function () {
            jQuery('#slippry').slippry()
        });
        function goToByScroll(id) {
            $('html,body').animate({scrollTop: $("#" + id).offset().top}, 'slow');
        }

    </script>

</head>
<body class="page1" id="top">
<!--==============================header=================================-->
<header>
    <div class="container_12">
        <div class="grid_12">
            <h1>
                <a href="">
                    <img src="images/logo.png" alt="Your Happy Family">
                </a>
            </h1>

        </div>
    </div>
    <div class="clear"></div>

    {% if show_banner == true %}
    <ul id="slippry">
        <li>
            <a href="#slide1"><img src="images/slide.jpg" alt="Лучший сервис чистки подушек"></a>
        </li>
        <li>
            <a href="#slide1"><img src="images/slide1.jpg" alt="Современные оборудование"></a>
        </li>
        <li>
            <a href="#slide1"><img src="images/slide2.jpg" alt="Быстро и не дорого"></a>
        </li>
    </ul>
    {% else %}
    <style>
        .page1 .menu_block{
            border-top: 1px solid #d9d9d9;
        }
    </style>
    {% endif %}

    <div class="menu_block">
        <nav class="horizontal-nav full-width horizontalNav-notprocessed">
            <ul class="sf-menu">
                <li {% if page == 'home' %}class="current"{% endif %}><a href="/">Главная</a></li>
                <li {% if page == 'order' %}class="current"{% endif %}><a href="/order">Заказать {{isActive['order']}}</a></li>
                <li {% if page == 'prices' %}class="current"{% endif %}><a href="/prices">Цены</a></li>
                <li {% if page == 'faq' %}class="current"{% endif %}><a href="/faq">Вопросы</a></li>
                <li {% if page == 'about' %}class="current"{% endif %}><a href="/about">О компании</a></li>
            </ul>
        </nav>
        <div class="clear"></div>
    </div>
</header>

{% include template %}

<footer>
    <div class="container_12">
        <div class="row">
            <div class="grid_12">
                <a href="#" onclick="goToByScroll('top'); return false;" class="top"></a><br> <a href="#" class="f_logo"><img
                    src="images/f_logo.png" alt=""></a>
                <div class="footer_socials">
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-google-plus"></a>
                    <a href="#" class="fa fa-instagram"></a>
                </div>
                <div class="copy"><span class="brand">Белое перо </span> &copy; <span id="copyright-year"></span> | <a href="#">Политика безопасности</a>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</footer>
<script type="text/javascript" src="js/jquerypp.custom.js"></script>
<script type="text/javascript" src="js/jquery.elastislide.js"></script>
<script type="text/javascript">

    $('#carousel').elastislide({
        minItems: 8
    });

</script>
</body>
</html>

