<section class="content">
    <div class="ic">More Website Templates @ TemplateMonster.com - May 19, 2014!</div>
    <div class="container_12">

        <div class="about-text">
            <p>В "Белое перо" производится качественная чистка подушек из пера, цена за которую у нас ниже, чем во
                многих химчистках Серова. Подушки необходимо чистить регулярно, потому что они впитывают разные продукты
                жизнедеятельности человека.
            </p>
            <p>Болезнетворные микроорганизмы могут стать причиной болезни. В постельных принадлежностях заводятся
                пылевые клещи. Паразиты быстро размножаются, вызывая аллергию и раздражения на коже.
            </p>
            <p>Самостоятельно почистить подушки очень сложно. В "Белое перо" всегда рады предложить вам лояльные цены
                на химчистку перьевых изделий, а также пуховых и пухо-перовых изделий, и качественное исполнение заказа
                в кратчайшие сроки.
            </p>

        </div>

        <div class="grid_5">
            <h3>Как нас найти</h3>
            <div class="map">
                <figure class="">
                    <a href=https://maps.yandex.ru/?um=constructor:8ecGqycHPDRAVR19IVzof-pwJtjWy6P8&source=constructor target=_blank>
                        <img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?sid=8ecGqycHPDRAVR19IVzof-pwJtjWy6P8&width=470&height=306&lang=ru_RU&sourceType=constructor" alt="" style="border: 0;" />
                    </a>
                </figure>

                <p>Компания "Белое перо"</p>
                <p>ул. Ленина, дом 98, офис 244</p>
                <p>г. Серов, Свердловская область</p>
                <p>Телефон: +7 343 603 6035</p>
                <p>E-mail: <a href="#">mail@beloepero.org</a></p>
            </div>
        </div>
        <div class="grid_6 prefix_1">
            <h3>Обратная связь</h3>
            <form id="form">
                <div class="name">
                    <input type="text" placeholder="Имя:" />
                </div>
                <div class="email">
                    <input type="text" placeholder="E-mail:"/>
                </div>
                <div class="phone">
                    <input type="text" placeholder="Телефон:" />
                </div>
                <div class="message">
                    <textarea placeholder="Сообщение:"></textarea>
                </div>
                <div>
                    <div class="clear"></div>
                    <div class="btns">
                        <a href="#" data-type="submit" class="link1">Отправить</a></div>
                </div>
            </form>
        </div>
        <div class="clear"></div>
    </div>
</section>