<section class="content">
    <div class="container_12">

        <div class="faq">

            <h4>Зачем вообще чистить подушки?</h4>
            <p>У каждого из нас дома есть пылесос и стиральная машина. И ни у кого не возникает вопрос: зачем стирать постельное белье и убирать в комнате.
                Потому, что жить в чистоте – это естественно и приятно.
                Другое дело, что никто из нас не держит дома агрегат для чистки подушек. Поэтому для «очистки совести» мы убеждаем себя, что подушки чистить не надо.
                А подушка, как и любой другой домашний предмет, покрывается пылью снаружи, засаливается. Со временем внутри подушки часть перьев перетирается в пыль. Именно в этой пыли может завестись пылевой клещ. Само собой его выделения нам не добавляют здоровья.
                Любая пуховая и перовая подушка через год пользования существенно утрамбовывается, содержимое сбивается в плотную массу, более того, становится влажным, и может приобрести неприятный запах.
                Частично избавиться от этого можно тщательным взбиванием и просушиванием на солнце. Но кардинально эту проблему можно решить только с помощью аэрочистки.</p>

            <h4>Когда лучше чистить подушку?</h4>
            <p>Если вы пользуетесь подушками на даче, то по окончании дачного сезона. Так как закладывать подушку на хранение необходимо в просушенном и обеззараженном состоянии. Иначе перовая масса начинает преть, разлагаться.
                Если подушка используется преимущественно дома, то лучше всего ее ежегодно чистить весной, по окончании отопительного (гриппозного ) сезона.</p>

            <h4>Как часто надо чистить подушки? </h4>
            <p>Если вам подарили самодельную (не фабричного изготовления) подушку, либо подушка досталась по наследству, то ее необходимо почистить сразу, до начала пользования.
                В остальных случаях подушки обычно чистят не реже, чем раз в год.</p>

            <h4>Современные прачечные с импортным оборудованием тоже предлагают услуги по стирке подушек. А чем вы их лучше? </h4>
            <p>Преимущество аэрочистки вытекает из конструктивных особенностей пухо-перовых изделий.
                Ведь почему так дешевы синтетические подушки? Да потому, что помимо копеечного наполнителя там используются и дешевые наперники, из почти сетчатой ткани.
                Наперники же для пуха и пера шьются из плотнейшего хлопчатобумажного тика.
                И как сквозь такую преграду можно промыть содержимое подушки?
                Однозначно и пыль и ворс и мусор остаются внутри. В лучшем случае Вы освежите наперник снаружи и, возможно, избавитесь от неприятного запаха подушки (но скорее всего - просто получите «другой аромат»).</p>

            <h4>Какие подушки не принимаются в аэрочистку? </h4>
            <p>Стараемся не брать откровенно сырые подушки. Их владельцу советуем подушки предварительно подсушить до почти сухого состояния. Тогда перья на установке лучше вычистятся.
                И еще вариант, когда подушку существенно «пометил» домашний питомец. Запах очень въедливый, поэтому подушку желательно просто выбросить.</p>

        </div>

    </div>
</section>