<section class="content">
    <div class="container_12">

        <div class="cleaning-types">

            <h3 id="type1">Аэрочистка</h3>
            <div>
                <p>Аэрочистка – это технология чистки, реставрации и переделки постельных принадлежностей. Применяется для подушек,
                    перин и одеял с пухо-перовым наполнителем.</p>
                <p>Аэрочистка производится в специальной установке, без применения воды и химических средств.</p>
                <p>Предварительно в установке закрепляется новый наперник (тканевая оболочка) для обрабатываемого изделия.
                    Пухо-перовое изделие распарывается, и наполнитель по частям загружается в установку. В очистной камере
                    установки каждая порция пухо-перовой смеси прочищается мощными струями горячего воздуха. Происходит
                    непрерывное удаление пылевых загрязнений. Одновременно производится обеззараживание наполнителя ультрафиолетовым
                    излучением бактерицидной лампы. Очищенный наполнитель постепенно «закачивается» в новый наперник.
                    Перед каждой новой загрузкой из очистной камеры удаляют «отфильтрованные» остья перьев и другой мусор.
                    По окончании процедуры набивочное отверстие наперника прострачивается на швейной машине.</p>
            </div>

            <h3 id="type2">Сухая чистка ультрафиолетом</h3>
            <div>
                <p>В специализированном оборудовании для обновления пера и пуха не используются абразивные моющие средства,
                то есть выполняется сухая чистка подушек. Все изделия, принимаемые на реставрацию, сначала распарываются,
                а потом обрабатываются внутри.</p>
                <p>В специальном оборудовании установлены два фильтра, один предназначен для более крупного мусора,
                второй — для мелкой пыли. Они должны быть очищены, чтобы собрать все лишнее, что может находиться в подушке.</p>
                <p>Чистка подушек из пера ультрафиолетовым излучением полностью уничтожает
                пылевых клещей. Процедура обработки пуха или пера занимает от 10 до 15 минут, после чего очищенный наполнитель
                попадает в новый наперник, который зашивает сам оператор.</p>
            </div>

            <h3 id="type3">Паровая чистка</h3>
            <div>
                <p>Технология паровой чистки пера обладает рядом преимуществ и эффективно справляется с
                многими проблемами. Данная технология применяется в специальной установке «Партнер-Аква», которыми оснащены наши салоны.
                </p><p>
                Основные преимущества технологии паровой чистки: Эффективное восстановление наполнителя водяным паром, Устранение посторонних неприятных запахов,
                Деликатное механическое воздействие,
                Качественное обеспыливание,
                Максимальная дезинфекция.</p>
            </div>

            <h3 id="type4">Химическая чистка</h3>
            <div>
                <p>Химчистка подушек из пера осуществляется воздушными потоками в специальной установке.
                Данный метод обработки великолепно подходит для различных натуральных наполнителей.</p>

                <p>Мы применяем современную технику для чистки изделий из пера – VITA Start Siesta, которая в процессе работы
                производит бактерицидную, механическую и тепловую обработку пера.</p>

                <p>Температура воздуха в бункере машины не превышает 55 С даже при длительной реставрации. Соблюдение данного
                температурного режима необходимо, чтобы обеспечить сохранность пуха и пера. Так как кератин, который
                содержится в перопуховом материале, разрушается при превышении этого предела температур.</p>

                <p>Наши специалисты строго соблюдают правильный температурный режим чистки. Вы можете быть спокойны – после
                обработки ваши подушки и одеяла прослужат еще долгие годы.</p>
            </div>

        </div>

    </div>
</section>