<section class="content">
    <div class="container_12">

        <div class="prices">

            <h3>Цена за чистку одной подушки</h3>

            <table class="tg">
                <tr>
                    <th class="tg-9hbo">Размер</th>
                    <th class="tg-9hbo">Аэрочистка</th>
                    <th class="tg-9hbo">Сухая чистка (ультрафиолет)</th>
                    <th class="tg-9hbo">Паровая чистка</th>
                    <th class="tg-9hbo">Химчистка</th>
                </tr>
                <tr>
                    <td class="tg-6k2t"><b>Малые</b><br>До 55х55 см </td>
                    <td class="tg-j0tj">300 руб</td>
                    <td class="tg-j0tj">250 руб</td>
                    <td class="tg-6k2t">250 руб</td>
                    <td class="tg-6k2t">230 руб</td>
                </tr>
                <tr>
                    <td class="tg-yw4l"><b>Средние</b><br>от 55х55 до 60х60 см</td>
                    <td class="tg-baqh">330 руб</td>
                    <td class="tg-baqh">280 руб</td>
                    <td class="tg-yw4l">280 руб</td>
                    <td class="tg-yw4l">260 руб</td>
                </tr>
                <tr>
                    <td class="tg-6k2t"><b>Большие</b><br>От 60х60 до 80х80 см</td>
                    <td class="tg-j0tj">370 руб</td>
                    <td class="tg-j0tj">320 руб</td>
                    <td class="tg-6k2t">320 руб</td>
                    <td class="tg-6k2t">300 руб</td>
                </tr>
            </table>

            <div class="delivery-bl">
                Выезд на дом: <b>150 руб</b> <br>
                При заказе от 1000 рублей выезд на дом <b>бесплатный!</b>
            </div>

        </div>

    </div>
</section>