<section class="content" ng-app="Order">
    <div class="container_12">

        <div class="order-block" ng-controller="MainCtrl">
            <h1>Сделать заказ</h1>

            <div class="info">
                Укажите свои контактные данные и ниже добавьте сколько подушек и какого размера нужно оформить на чистку.
                <br>
                Дополнительно вы можете выбрать опцию "Выезд на дом", чтобы наш курьер сам забрал вашу подушку и привез обратно.
            </div>

            <div class="contact">
                <div class="row">
                    <label>ФИО:</label>
                    <input type="text" value="" id="order-fio" ng-model="order.fio">
                </div>
                <div class="row">
                    <label>Телефон:</label>
                    <input type="text" value="" id="order-phone" ng-model="order.phone" placeholder="+7 999 999-9999">
                </div>
            </div>

            <div class="pillows">
                <table>
                    <tr class="head-table">
                        <td>Размер</td>
                        <td>Способ чистки</td>
                        <!--<td>Количество</td>-->
                        <td>Стоимость</td>
                        <td></td>
                    </tr>
                    <tr class="line-table" ng-repeat="line in lines">
                        <td class="p-size">
                            <select class="order-size" ng-model="line.size" ng-options="s.val as s.title for s in sizes"></select>
                        </td>
                        <td>
                            <select class="order-type" ng-model="line.type" ng-options="s.val as s.title for s in delivTypes"></select>
                        </td>
                        <!--<td class="p-count">-->
                            <!--<select class="order-count" ng-model="line.count" ng-options="c as c for c in counts"></select>-->
                        <!--</td>-->
                        <td class="p-cost">[[ calcLineCost(line) ]] руб</td>
                        <td><i class="fa fa-close line-remove" ng-click="remove($index)"></i></td>
                    </tr>
                </table>

                <div class="add-line">
                    <a href="" ng-click="add()"><span class="fa fa-plus"></span> добавить подушку другого размера</a>
                </div>

                <div class="delivery">
                    <h4>Услуга "Выезд на дом"</h4>

                    <div class="option">
                        <input type="radio" name="delivery" value="0" checked> без доставки
                    </div>
                    <div class="option">
                        <input type="radio" name="delivery" value="1"> доставка по г.Серов
                    </div>
                    <div class="address">
                        <label>Адрес доставки:</label>
                        <input type="text" placeholder="улица" ng-model="order.street" id="deliv-street">
                        <input type="text" placeholder="дом" ng-model="order.house" id="deliv-house">
                        <input type="text" placeholder="подъезд, квартира" ng-model="order.kv" id="deliv-kv">

                        <div class="date-time">
                            Желаемые день и время приезда курьера:
                            <select id="delivery-date" ng-model="order.date" ng-options="s.val as s.title for s in delivDates"></select>
                            <select id="delivery-time" ng-model="order.time" ng-options="s.val as s.title for s in delivTimes"></select>
                        </div>

                        <textarea id="delivery-text" placeholder="Комментарии к заказу" ng-model="order.comment"></textarea>

                    </div>


                    <div class="summary">

                        <div ng-if="discount" class="discount-line">
                            Скидка за третью подушку: [[ discount ]] руб
                        </div>
                        <div ng-if="order.isDelivery" class="discount-line">
                            Цена за доставку: [[ delivDiscount ]] руб
                        </div>

                        Итого: <span class="total-cost">[[ calcTotalCost() ]] руб</span>
                    </div>

                    <div class="ok-button" ng-click="doOrder()">
                        <a href="">Заказать</a>
                    </div>

                </div>


            </div>



        </div>

    </div>
</section>