
<section class="content">
    <div class="container_12">
        <div class="grid_12">
            <h2>Что мы можем</h2>
        </div>
        <div class="grid_3"><a href="/info#type1" class="box">
            <div class="maxheight">
                <img src="images/page1_img1.jpg" alt="">
                <div class="box_bot">
                    Аэрочистка
                </div>
            </div>
        </a></div>
        <div class="grid_3"><a href="/info#type2" class="box">
            <div class="maxheight">
                <img src="images/page1_img2.jpg" alt="">
                <div class="box_bot">
                    Сухая чистка
                    <span>ультрафиолетом</span>
                </div>
            </div>
        </a></div>
        <div class="grid_3"><a href="/info#type3" class="box">
            <div class="maxheight">
                <img src="images/page1_img3.jpg" alt="">
                <div class="box_bot">
                    Паровая
                    <span>чистка</span>
                </div>
            </div>
        </a></div>
        <div class="grid_3"><a href="/info#type4" class="box">
            <div class="maxheight">
                <img src="images/page1_img4.jpg" alt="">
                <div class="box_bot">
                    Химическая
                    <span>чистка</span>
                </div>
            </div>
        </a></div>
        <div class="grid_12 center">
            <h2>Горячее предложение</h2>
            <div class="text1">При заказе чистки двух подушек - третья бесплатно</div>
            <img src="images/banner.jpg" class="ban_img" alt="">
        </div>
        <div class="grid_9 prefix_2 center">
            Соберите все подушки из вашего дома на чистку! Выгодное предложение только у нас.
            При заказе двух подушек и более вы сможете заказать еще одну подушку совершенно бесплатно.
        </div>
        <div class="grid_12 center">
            <a href="/order" class="btn">Сделать заказ!</a>
        </div>
    </div>
    <div class="clear"></div>
    <div class="sep__1"></div>
    <div class="container_12">
        <div class="grid_6">
            <h3>О нас</h3>
            <p>В "Белое перо" производится качественная чистка подушек из пера, цена за которую у нас ниже, чем во
                многих химчистках Серова. Подушки необходимо чистить регулярно, потому что они впитывают разные продукты
                жизнедеятельности человека.
            </p>
            <p>Самостоятельно почистить подушки очень сложно. В "Белое перо" всегда рады предложить вам лояльные цены
                на химчистку перьевых изделий, а также пуховых и пухо-перовых изделий, и качественное исполнение заказа
                в кратчайшие сроки.
            </p>
            <a href="/about" class="link1">Подробнее...</a>
        </div>
        <div class="grid_5 prefix_1">
            <h3>Заберем и доставим до вашего дома</h3>
            <div class="icon fa fa-truck"></div>
            <div class="extra_wrapper">
                Все никак не можете найти время чтобы отнести подушку на чистку в пункт приема? Теперь это не проблема!
                С нашей услугой "Выезд на дом" наш специалист приедет и заберет вашу подушку в удобное время. Дату и время
                выезда вы можете указать в заявке на чистку, либо уточнить по телефону.
            </div>
            <a href="/about" class="link1">Подробнее...</a>
        </div>
    </div>
    <div class="clear"></div>
</section>
